.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__content {
    padding: 20px 30px;
    text-align: center;
}

.login__message {
    margin-bottom: 30px;
}

.login__form-control {
    width: 100%;
}

.login__select > div > div {
    display: flex;
    align-items: center;
}

.login__button {
    margin: 20px 0 10px;
}

.login__menu-item {
    padding: 20px !important;
}

.login__error {
    margin-top: 20px;
}
