.q {
    border: 2px solid rgb(225, 225, 225);
    border-radius: 4px;
    padding-bottom: 20px;
}

.q + .q {
    margin-top: 8px;
}

.q__header {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: rgb(225, 225, 225);
    padding: 12px;
    justify-content: space-between;
}

.q__header_left {
    display: flex;
    align-items: center;
}

.q__header_text {
    margin-left: 12px;
}

.q__radio-label {
    align-items: start !important;
}

.q__radio-label_label {
    margin-top: 13px;
}

.q__ask {
    padding: 25px 15px 15px;
    text-align: center;
}

.q__options {
    display: flex;
    align-items: center;
    justify-content: center;
}
